/*
#ef476f -> rojo/rosado
#ffd166 -> amarillo
#06d6a0 -> verde
#118ab2 -> azul medio
#073b4c -> azul oscuro
#e3fffc -> azul claro
*/

@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-BoldItalic';
    src: url(../fonts/Roboto-BoldItalic.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto-Regular';
}

body{
    background-color: #e3fffc;
}

header{
    background-color: #06d6a0;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 1.2rem;
}

h1{
    font-family: 'Roboto-BoldItalic';
    margin-left: 1rem;
}

li{
    display: inline;
    background-color: #ef476f;
    font-weight: bold;
    padding: 1rem;
    margin-left: 1rem;
    border-radius: 1rem;
}

li a{
    color: #fff;
}

main{
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.center{
    max-width: 76rem;
}

div.bloque{
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    border: 2px solid #ffd166;
}

div.image-container{
    margin: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div.image-container img{
    max-height: 18rem;
    margin: 1rem;
    border-radius: 1rem;
}

div.video-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.video-container iframe{ /* vídeos youtube */
    border-radius: 1em;
}

div.video-container a{
    background-color: #ffd166;
    padding: 1em;
    border-radius: 999em;
    font-weight: bold;
}

div.video-container *{
    margin: 1em;
}

h2{
    margin-top: 0.5rem;
    margin-bottom: 0.5em;
    color: #073b4c;
    font-family: 'Roboto-BoldItalic';
    font-size: 1.65rem;
}

p{
    margin-top: 0.5em;
}

footer{
    background-color: #118ab2;
    color: #fff;
    font-weight: bold;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-right-radius: 1.2rem;
}

footer a{
    color: #fff;
}
